@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;600;700&display=swap");

:root {
    --bg: #212529;
    --black: #213547;
    --purple: #6741d9;
    --purple2: #7950f2;
    --purple3: #7950f29d;
    --white: #fafafa;
    --grey: #acabcf;
}

body {
    color: var(--black);
    font-family: "Manrope";
    margin: 0;
    padding: 20px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--purple);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    font-weight: 800;
}

.logo {
    cursor: pointer;
}

.found {
    font-size: smaller;
}

.searchdiv {
    width: 40%;
}

.search {
    border: none;
    padding: 12px;
    background-color: var(--purple2);
    width: 100%;
    border-radius: 5px;
    outline-color: var(--white);
    color: var(--white);
}

.search::placeholder {
    color: var(--grey);
}

#container {
    display: flex;
    align-items: top;
    padding: 20px 20%;
    gap: 20px;
}

.movies {
    flex: 1;
    border: 1px solid var(--grey);
    border-radius: 10px;
    overflow: hidden;
}

.movie {
    display: flex;
    align-items: center;
    font-size: smaller;
    padding: 15px;
    border-bottom: 1px solid var(--grey);
}

.watchItems:hover,
.movie:hover {
    background: rgba(171, 91, 252, 0.185);
    cursor: pointer;
}

.desc {
    padding-left: 15px;
    line-height: 15px;
}

.img {
    width: 50px;
    height: 70px;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.watched {
    position: relative;
    flex: 1;
    border: 1px solid var(--grey);
    border-radius: 10px;
    line-height: 30px;
    overflow: hidden;
}

.uwatched {
    flex: 1;
    padding: 15px;
    background-color: #19122c;
    color: white;
}

.uwtext {
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.wii {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wii1 {
    width: 55%;
}

.wii1 h1 {
    margin: 0;
    font-weight: bold;
}

.widesc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: smaller;
}

.widesc2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.watchItems {
    padding: 15px;
    border-bottom: 1px solid var(--grey);
    font-size: smaller;
    line-height: 15px;
}

.cancel {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 16px;
    color: white;
    font-size: smaller;
}

.cancel:active {
    background-color: rgba(255, 0, 0, 0.575);
}

.back {
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6741d9;
    color: white;
}

.add:active,
.back:active {
    background-color: #7950f2;
}

.movie_watched {
    display: flex;
    align-content: center;
    border-bottom: 1px solid var(--grey);
}

.img2 {
    flex: 1;
    width: 180px;
    height: 270px;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 10px;
}

.details {
    flex: 1;
    font-size: smaller;
    line-height: 17px;
    padding: 20px;
}

.movie_details {
    padding: 7%;
    font-size: smaller;
}

@media (max-width: 800px) {
    #container {
        padding: 20px 0;
    }
}
